@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&:wght@500&display=swap");
@import "./variables.scss";
/* styles/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  color: $regular-text;

  display: block;
  width: auto;
  max-width: 1200px;

  margin: 0 auto;
  padding: 0 40px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $primary;
  text-transform: uppercase;

  width: 97px;
  height: 29px;
  font-size: 11px;

  border-radius: 6px;
  color: $regular-text;
}
