@use "../styles/variables" as *;
@use "../styles/mixins";
@use "../styles/typography";
@use "../styles/utilities";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-base;
  color: $color-text;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}
