@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.CarouselTitle {
  font-size: $font-size-paragraph-large;
  font-weight: $font-weight-semibold;
  margin: 0;
  margin-top: $space-26;
  align-self: flex-start;
  @include respond(md) {
    margin-top: $space-10;
  }
}

.VisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.Carousel {
  display: flex;
  overflow-x: auto;
  gap: $space-4;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-inline: $space-4;
  padding: $space-4 0;
  list-style: none;
  margin: 0;
}

.CarouselItem {
  position: relative;
  width: 200px;
  height: 200px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex: 0 0 auto;

  &:not(:last-child) {
    margin-right: $space-2;
  }

  &:focus-visible {
    outline: 2px solid $color-text;
    outline-offset: 4px;
  }

  @include respond(sm) {
    width: 160px;
    height: 160px;
  }
}
