@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.Hero {
  margin: $space-16 auto 0;
  max-width: $max-width;
  padding: 0 $container-padding;

  @include respond(md) {
    margin-top: $space-12;
    padding: 0 $space-5;
  }

  @include respond(sm) {
    margin-top: $space-10;
    padding: 0 $space-4;
  }
}
.LogoImage {
  position: relative;
  width: 100%;
  margin-bottom: 2.8em;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.HeroLogo img {
  position: relative;
  width: auto;
}

.HeroImage img {
  position: relative;
  width: 100%;
  height: auto;
}
