.Hero {
  margin: 68px 40px 0 40px;
  max-width: 1120px;
}
.HeroLogo {
  position: relative;
  width: auto;
  margin-bottom: 44px;

  font-family: "Caprasimo", sans-serif;
  font-size: 9.3rem;
}
.HeroImage {
  position: relative;
}
