.Nav {
  display: flex;
  align-items: center;
  height: 82px;
  border-bottom: 1px black solid;
  a {
    color: black;
  }
}
.Logo {
  font-size: 2rem;
  padding: 20px 0;

  font-family: "Caprasimo", sans-serif;
}
.Menu {
  display: flex;
  margin-left: auto;
  .Items:not(:last-child) {
    margin-right: 40px;
  }
}
