@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.IntroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-bottom: $space-10;
  border-bottom: solid 1px $color-text;
}

.Title {
  font-size: $font-size-heading-1;
  text-transform: uppercase;
  margin-bottom: $space-7;
  max-width: 540px;
  margin-top: $space-18;
}

.StepList {
  display: flex;
  flex-direction: column;
}

.StepItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px $color-text;
  padding: $space-25 0 $space-20 0;
}

.StepNumber {
  font-size: $font-size-heading-1;
  margin-bottom: $space-20;
}

.StepTitle {
  font-size: $font-size-heading-1;
  margin-bottom: $font-size-display;
  margin-top: $space-20;
  @include respond(sm) {
    font-size: $font-size-display;
  }
}

.StepText,
.Description {
  font-size: $font-size-paragraph-large;
  max-width: 540px;

  @include respond(sm) {
    font-size: $font-size-paragraph-sml;
  }
}
