@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.Title {
  text-transform: uppercase;
  font-size: $font-size-heading-1;
  margin-top: $space-26;
  margin-bottom: $space-10;

  @include respond(sm) {
    font-size: $font-size-caption-sml;
  }
}

.Description {
  font-size: $font-size-paragraph-large;
  max-width: 800px;
  line-height: 1.2em;
  margin-bottom: $space-10;
  font-weight: 500;

  @include respond(sm) {
    margin: $space-12 0;
    padding: 0 $space-4;
  }
}
