.Container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  margin: 120px 0;
}

.Title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}

.Desciption {
  font-size: 40px;
  margin-bottom: 40px;
  max-width: 1000px;
}
