@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.Section {
  margin: $space-25 auto;
  @include respond(md) {
    margin: $space-18 auto;
  }
}

.Image img {
  width: 100%;
  height: auto;
  position: relative;
}

.Title {
  margin-top: $space-30;
  margin-bottom: $space-5;
  font-size: $font-size-heading-2;
  text-transform: uppercase;
  @include respond(md) {
    margin: $space-18 auto;
    margin-bottom: $space-6;
  }
}

.Description {
  margin: 0;
  font-size: $font-size-paragraph-large;
  max-width: 640px;
  line-height: 1.4;
  margin-bottom: $space-10;
}
