@use "variables" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text;
  font-family: $font-base;
  text-transform: uppercase;
}

h1 {
  font-size: $font-size-heading-1;
}
p {
  color: $color-text;
  line-height: 1.6;
}

.font-heading {
  font-size: $font-size-heading-2;
}
.font-description {
}
