@use "variables" as *;
@use "mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $container-padding;

  @include respond(md) {
    padding: 0 $space-5;
  }

  @include respond(sm) {
    padding: 0 $space-4;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  text-transform: uppercase;
  min-width: 110px;
  min-height: 34px;
  padding: 0 $space-4;
  font-size: 12px;
  letter-spacing: 0.02em;
  border-radius: 6px;
  color: $color-text;
  cursor: pointer;
  border: none;
}
