$color-text: #333;
$color-primary: #ffc800;
$max-width: 1200px;
$container-padding: 40px;

$font-base: "Outfit", sans-serif;
$font-heading: "Caprasimo", sans-serif;

$font-size-heading: "Outfit", sans-serif;

$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-8: 32px;
$space-10: 40px;
$space-12: 48px;
$space-16: 64px;
$space-20: 80px;
$space-24: 96px;

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
