$color-text: #333;
$color-primary: #ffc800;
$max-width: 1200px;
$container-padding: 40px;

$font-base: "Outfit", sans-serif;
$font-display: "Caprasimo", sans-serif;

$font-size-heading-1: 50px;
$font-size-heading-2: 40px;
$font-size-display: 30px;
$font-size-paragraph-large: 24px;
$font-size-paragraph-md: 22px;
$font-size-caption-large: 18px;
$font-size-paragraph: 17px;
$font-size-paragraph-sml: 16px;
$font-size-caption: 14px;
$font-size-body-sml: 13px;
$font-size-caption-sml: 12px;
$font-size-btn: 11px;

$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 30px;
$space-8: 32px;
$space-10: 40px;
$space-12: 48px;
$space-16: 64px;
$space-17: 70px;
$space-20: 80px;
$space-24: 96px;
$space-25: 100px;

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
